body {
    font-family: "Roboto Mono", monospace;
    min-height: 755px;
    background-image: url("https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-color: black;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
}